{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}Mano užsakymai{% endblock %}
{% load static %}


{% block "content" %}
<section id="my_products" class="services section">
    <div class="container">
        <h2>Mano išsinuomotos prekės:</h2>
        {% for order in orders %}
        <p></p>
        <p><strong>Prekė:</strong> {{ order.uuid|slice:":6" }} - {{ order.product.name }}</p>
        {% for reservation in order.reservations_status.all %}
        <p><strong>Grąžinimo data:</strong> {{ reservation.end_date }}</p>
        {% endfor %}
        <hr/>
        {% endfor %}
    </div>

</section>

</section>

{% endblock %}

<