{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}Mano užsakymai{% endblock %}
{% load static %}


{% block "content" %}
<section id="my_products" class="services section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

              <div class="container section-title" data-aos="fade-up">
            <h2>Mano užsakymai</h2>
            <p>Mano išsinuomotos prekės<br></p>
        </div>

         <hr style="border: none; height: 2px; background-color: #ff4a17;" />
        {% for reservation in reservations %}
        <p></p>
        <p><strong>Prekė:</strong> {{ reservation.status.uuid|slice:":6" }} - {{ reservation.status.product.name }}</p>

        <p class="{% if reservation.is_overdue %}text-danger{% endif %}"><strong>Grąžinimo data:</strong> {{ reservation.end_date }}</p>

        <hr style="border: none; height: 2px; background-color: #ff4a17;" />
        {% endfor %}
    </div>

</section>

</section>

{% endblock %}

<