{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}Prekė{% endblock %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}"/>
<script src="{% static 'js/daterangepicker.js' %}"></script>


<script>
    $(document).ready(function() {
        $('.datepicker').daterangepicker({
            locale: {
                format: 'YYYY-MM-DD'
            },
            autoApply: true
        });
    });
</script>


{% block "content" %}


<section id="item" class="services section">
    <div class="container">
        {% if product.cover %}
        <div class="img">
            <img src="{{ product.cover.url }}" class="img-fluid" alt="" style="max-width: 400px; height: auto;">
        </div>
        {% endif %}
        <p></p>
        <h3><strong>{{ product }}</strong></h3>
        <ul class="pt-2">
            <li><strong>Turimas kiekis: </strong> {{ product.quantity }}</li>
            <li><strong>Aprašymas: </strong>{{ product.description | safe}}</li>

            <li><strong>Būsenos: </strong>
                {% if product.product_status.all %}
                {% for status in product.product_status.all %}
                {{ status }}
                {% endfor %}
                {% else %}
                Šiuo metu neturime šios prekės
                {% endif %}
            </li>
            <div>


            </div>

        </ul>
    </div>
</section>

</section>

{% endblock %}
