{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}{% trans 'PREKĖS' %}{% endblock %}
{% block 'name' %}<h1>Produktai</h1>
<p>Kažką čia galima parašyti.</p>
{% endblock %}
{% load static %}


{% block "content" %}


<section id="ligtening" class="portfolio-details section">

    <div class="container">
        <p>
        <h3>Apšvietimas:</h3></p>
        {% for product in products %}
        {% if product.group.name == "Apšvietimas" %}
        <a href="{% url 'product' product.pk %}"><p>{{ product }}</p></a>
        {% endif %}
        {% endfor %}
    </div>
</section>

<section id="furniture" class="portfolio-details section">
    <div class="container">
        <p>
        <h3>Baldai:</h3></p>
        {% for product in products %}
        {% if product.group.name == "Baldai" %}
        <a href="{% url 'product' product.pk %}"><p>{{ product }}</p></a>
        {% endif %}
        {% endfor %}
    </div>
</section>

<section id="tent" class="portfolio-details section">
    <div class="container">
        <p>
        <h3>Palapinės:</h3></p>
        {% for product in products %}
        {% if product.group.name == "Palapinės" %}
        <a href="{% url 'product' product.pk %}"><p>{{ product }}</p></a>
        {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock %}
