{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}{% trans 'PREKĖS' %}{% endblock %}
{% block 'name' %}<h1>Produktai</h1>
<p>Kažką čia galima parašyti.</p>
{% endblock %}
{% load static %}


{% block "content" %}
<section id="lightening" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Produktai</h2>
        <p>Apšvietimas<br></p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">
            {% for product in lighting_page %}
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                    <div class="img">
                        <img src="{%static 'img/lamps.jpeg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="{% url 'product' product.pk %}" class="stretched-link">
                            <h3>{{ product }}</h3>
                        </a>
                    </div>
                </div>
            </div>


            {% endfor %}
        </div>
    </div>
    <p></p>
    <div class="container puslapiai">
        <nav aria-label="...">
            {% if lighting_page.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-center">
                {% for i in lighting_page.paginator.page_range %}
                {% if lighting_page.number == i %}
                <li class="page-item active">
                    <a class="page-link" style="background-color: white; color: black; border-color: black;"
                    >{{ i }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" style="background-color: black; color: white; border-color: black;"
                       href="?lighting_page={{ i }}#lighting">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </nav>
    </div>

    </div>
</section>

<section id="furniture" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Produktai</h2>
        <p>Baldai<br></p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">
            {% for product in furniture_page %}
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                    <div class="img">
                        <img src="{%static 'img/furniture.jpeg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="{% url 'product' product.pk %}" class="stretched-link">
                            <h3>{{ product }}</h3>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <p></p>

    <div class="container">
        <div class="container puslapiai">
            <nav aria-label="...">
                {% if furniture_page.has_other_pages %}
                <ul class="pagination pagination-sm justify-content-center">
                    {% for i in furniture_page.paginator.page_range %}
                    {% if furniture_page.number == i %}
                    <li class="page-item active">
                        <a class="page-link" style="background-color: white; color: black; border-color: black;"
                        >{{ i }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" style="background-color: black; color: white; border-color: black;"
                           href="?furniture_page={{ i }}#furniture">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </nav>
        </div>

    </div>
</section>

<section id="tent" class="services section">

        <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Produktai</h2>
        <p>Palapinės<br></p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">
            {% for product in tent_page %}
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                    <div class="img">
                        <img src="{%static 'img/tent.jpeg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="{% url 'product' product.pk %}" class="stretched-link">
                            <h3>{{ product }}</h3>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <p></p>

        <div class="container puslapiai">
            <nav aria-label="...">
                {% if tent_page.has_other_pages %}
                <ul class="pagination pagination-sm justify-content-center">
                    {% for i in tent_page.paginator.page_range %}
                    {% if tent_page.number == i %}
                    <li class="page-item active">
                        <a class="page-link" style="background-color: white; color: black; border-color: black;"
                        >{{ i }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" style="background-color: black; color: white; border-color: black;"
                           href="?tent_page={{ i }}#tent"
                        >{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </nav>
        </div>

    </div>
</section>
{% endblock %}
<div class="container puslapiai">
    <nav aria-label="...">
        {% if products.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-center">
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</div>
