{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}Registracija{% endblock %}

{% load static %}


{% block "content" %}
<section id="registration" class="contact section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Prisijungimas</h2>
        <p>Registracija</p>
        <p></p>
    </div>

    <div class="container register" data-aos="fade-up" data-aos-delay="100">

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Vartotojo vardas</label>
                <input name="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                       required>
                <small id="usernameHelp" class="form-text text-muted">Iki 150 simbolių.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">El. paštas</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">Nesidalinsime su niekuo, nesiųsime jokio spamo.
                    Reikalingas naujam slaptažodžiui išsiųsti. </small>
            </div>
            <div class="form-group">
                <label for="password">Slaptažodis</label>
                <input name="password" type="password" class="form-control" id="password" aria-describedby="pwdHelp"
                       required>
                <small id="pwdHelp" class="form-text text-muted">Ne mažiau, kaip 8 simboliai. Negali būti vien tik
                    skaičiai</small>
            </div>
            <div class="form-group">
                <label for="password2">Pakartoti slaptažodį</label>
                <input name="password2" type="password" class="form-control" id="password2" aria-describedby="pwd2Help"
                       required>
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary register-button" style="background-color: #ff4a17; border-color: #ff4a17;"
>Registruotis</button>
        </form>
        <p></p>
        <p>Jeigu užsiregistravote anksčiau, <a href="{% url 'login' %}"><strong>prisijunkite.</strong></a></p>
    </div>

</section>
{% endblock %}
