{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}Prekės būklė{% endblock %}
{% load static %}


{% block "content" %}
<section id="product_img" class="about section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Prekės</h2>
        <p>{{ single_status.product.name }}<br></p>
    </div>

    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
            <ul class="pt-2">
                <li><strong>Id.nr.: </strong> {{ single_status.uuid|slice:":6" }}
                </li>
                <li><strong>Būklė: </strong> {{ single_status.get_condition_display }}
                </li>
                <div style="margin-left: 30px;">
                <a class="btn btn-primary register-button" style="background-color: #ff4a17; border-color: #ff4a17;" href="{% url 'reservation_new' pk=object.pk %}">Nauja rezervacija</a>
                <a class="btn btn-primary register-button" href="{% url 'status_update' pk=object.pk %}">Redaguoti</a>
                <a class="btn btn-danger register-button" href="{% url 'status_delete'  pk=object.pk %}">Ištrinti</a>
                    </div>
                <li></li>
                <hr style="border: none; height: 2px; background-color: #ff4a17;"/>
                <li><strong>Rezervacijos: </strong>
                    {% if single_status.reservations_status.all %}
                    <ul>
                        {% for reservation in single_status.reservations_status.all %}
                        <li><i class="bi bi-check-circle-fill"></i>Pradžia: {{ reservation.start_date }}, Pabaiga: {{ reservation.end_date }}, klientas: {{ reservation.customer }}</li>
                        <li><a class="btn btn-primary register-button" href="{% url 'reservation_update' status_pk=single_status.pk pk=reservation.pk %}">Redaguoti</a>
                        <a class="btn btn-danger register-button" href="{% url 'reservation_delete' status_pk=reservation.status.pk pk=reservation.pk %}">Ištrinti</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    Nėra susietų rezervacijų
                    {% endif %}
                </li>

            </ul>
        </div>
    </div>
    </div>
</section>


{% endblock %}