{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}Nuomos prekės{% endblock %}
{% load static %}


{% block "content" %}
<section id="my_products" class="services section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="container section-title" data-aos="fade-up">
            <h2>Prekės</h2>
            <p>Nuomos prekių būklės<br></p>
        </div>
        <div class="col-md-6">

            <a class="btn btn-primary register-button" style="background-color: #ff4a17; border-color: #ff4a17;" href="{% url 'status_new' %}">Nauja prekė</a>
            <hr style="border: none; height: 2px; background-color: #ff4a17;"/>

            {% regroup statuses by product.name as grouped_statuses %}

            <!-- Iteruojame grupėmis -->
            {% for group in grouped_statuses %}
            <div style="margin: 10px 0; padding: 10px;">
                <!-- Grupės pavadinimas -->
                <h3 style="color: #ff4a17;">{{ group.grouper }}</h3>

                <!-- Iteruojame kiekvieno produkto statusus -->
                {% for status in group.list %}
                <a href="{% url 'single_status' status.pk %}">
                    <p class="{% if status.condition == 'i' %}text-danger{% elif status.condition == 'g' %}text-success
                {% elif status.condition == 'n' %}text-dark{% endif %}">
                        <strong>Statusas:</strong> {{ status }}
                    </p>
                </a>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>

</section>

</section>

{% endblock %}

<