{% extends "base2.html" %}
{% load i18n %}

{% block 'title' %}Prisijungimas{% endblock %}

{% load static %}


{% block "content" %}


<section id="login" class="contact section">

     <div class="container section-title" data-aos="fade-up">
        <h2>Prisijungimas</h2>
        <p>Prisijungimas</p>
        <p></p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        {% if form.errors %}
        <p>Prisijungimo klaida, bandykite dar kartą!</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Neturite prieigos prie šios informacijos. Turite prisijungti.</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Vartotojas:</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Slaptažodis:</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <p></p>
            <input type="submit"  class="btn btn-primary register-button" style="background-color: #ff4a17; border-color: #ff4a17;" value="Prisijungti"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
<p></p>
        <p><a href="{% url 'password_reset' %}"><strong>Pamiršote slaptažodį?</strong></a></p>
    </div>

</section>

{% endblock %}
